<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("MedLinked", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()


    </div>
    <!--<footer>-->
    <!-- The footer logo -->
    <!--<div class="logo-left">
        <p id="ftr_logo_text">MedLinked</p>
    </div>-->
    <!-- Copyright text -->
    <!--<div class="copyright-text">
        <p id="ftr-copy-text">&copy; Copyright MedLinked. All Rights Reserved @DateTime.Now.Year.</p>
    </div>-->
    <!-- The footer contents -->
    <!--<div class="ftr-socials">
            <ul id="ftr-socials-list">
                <li class="social-icon">
                    <a href="#">
                        <i class="ri-facebook-circle-fill"></i>
                    </a>
                </li>
                <li class="social-icon">
                    <a href="#">
                        <i class="ri-instagram-fill"></i>
                    </a>
                </li>
                <li class="social-icon">
                    <a href="#">
                        <i class="ri-youtube-fill"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>-->




    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2024 Company, Inc</p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-md-4 justify-content-center mr-3">
            <li class="nav-item social-icon"><a href="#" class="nav-link px-2 text-body-secondary text-white text-decoration-none">Home</a></li>
            <li class="nav-item social-icon"><a href="#" class="nav-link px-2 text-body-secondary text-white text-decoration-none">Features</a></li>
            <li class="nav-item social-icon"><a href="#" class="nav-link px-2 text-body-secondary text-white text-decoration-none">Pricing</a></li>
            <li class="nav-item social-icon"><a href="#" class="nav-link px-2 text-body-secondary text-white text-decoration-none">FAQs</a></li>
            <li class="nav-item social-icon"><a href="#" class="nav-link px-2 text-body-secondary text-white text-decoration-none">About</a></li>
        </ul>
    </footer>


    <script src="https://kit.fontawesome.com/934566fbc5.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
