﻿﻿@model MedLinked.Models.ViewModels.DetailsBooking


@{
    ViewBag.Title = "View";
}

<a class="btn btn-primary" href="/Booking/List">< Go back to list</a>
<br />

<table class="table table-primary">
    <thead>
        <tr>
            <th scope="col">Booking ID</th>
            <th scope="col">Status</th>
            <th scope="col">BookingDate</th>
            <th scope="col">GrandTotal</th>
            <th scope="col">Patient ID</th>
            <th scope="col">Doctor ID</th>
            <th scope="col">Medical Procedure ID</th>
            <th scope="col">Accommodation ID</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.SelectedBooking.BookingID</th>
            <td>@Model.SelectedBooking.Status</td>
            <td>@Model.SelectedBooking.BookingDate</td>
            <td>@Model.SelectedBooking.GrandTotal</td>
            <td>@Model.SelectedBooking.PatientID</td>
            <td>@Model.SelectedBooking.DoctorID</td>
            <td>@Model.SelectedBooking.MedicalProcedureID</td>
            <td>@Model.SelectedBooking.AccommodationID</td>
            <td><a class="btn btn-warning" href="/Booking/Edit/@Model.SelectedBooking.BookingID">Update</a></td>
            <td><a class="btn btn-danger" style="color:#ab2020;" href="/Booking/DeleteConfirm/@Model.SelectedBooking.BookingID">- Delete</a></td>
        </tr>



    </tbody>
</table>










