@model IEnumerable<MedLinked.Models.BookingDto>
@{
    ViewBag.Title = "List";
}
<div class="title">
    <h2>Bookings List</h2>
    <a class="btn btn-primary" href="/Booking/New">+ New Booking</a>
</div>

<div class="container patient_list_container">
    <!--For each bookings in our model-->
    @foreach (var booking in Model)
    {
        <!-- Bootstrap card for each booking -->
        <div class="card mb-3 list_card hover-effect">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <!-- Heading with a link to the booking details page -->
                        <h3 class="card-title fs-4 text-uppercase mb-3 font-weight-bold">
                            <strong>Status:</strong>
                            
                            @if (booking.Status == "paid")
                            {
                                <span style="color:green;">@booking.Status</span>
                            }
                            else if (booking.Status == "unpaid")
                            {
                                <span style="color:red;">@booking.Status</span>
                            }
                            else
                            {
                                @booking.Status
                            }

                        </h3>
                        <!-- Booking status -->
                        <p class="card-text lh-1">
                            <strong>Booking ID:</strong>
                            @booking.BookingID
                        </p>
                        <!-- Booking date -->
                        <p class="card-text lh-1"><strong>Date:</strong> @booking.BookingDate</p>
                    </div>
                    <div class="col-sm-4 d-flex justify-content-end flex-column">
                        <!-- Link to booking details page -->
                        <a class="btn btn-primary mt-2 d-flex justify-content-between align-content-center" href="/Booking/Details/@booking.BookingID">details <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
