﻿<!--Importing the view Model to fetch the list of other entities -->
﻿@model MedLinked.Models.ViewModels.DetailsBooking

@{
    ViewBag.Title = "Create";
}

<h2>Create Booking</h2>
<form action="/Booking/Create" method="POST">
    <div>
        <label>Status:</label>
        <input type="text" name="Status" />
    </div>
    <div>
        <label>Date:</label>
        <input type="date" name="BookingDate" />
    </div>

    <!--For now, we need to add a new data entry in both the tables that have no association with the booking entity and then can provide
        the IDs in these input fields respecting the FK relationships.-->
    <div class="form-group pb-2">
        <label for="PatientID">Patients:</label>
        <select name="PatientID" id="PatientID">
            <!-- The Patients is from the DetailsBooking VM -->
            @foreach (var patient in Model.Patients)
            {
                <option value="@patient.PatientID">@patient.PatientFirstName @patient.PatientLastName</option>
            }
        </select>
    </div>

    <div class="form-group pb-2">
        <label for="AccommodationID">Accommodations:</label>
        <select name="AccommodationID" id="AccommodationID">
            <!-- The Accommodations is from the DetailsBooking VM -->
            @foreach (var accommodation in Model.Accommodations)
            {
                <option value="@accommodation.AccommodationID">@accommodation.AccommodationName</option>
            }
        </select>
    </div>

    <div class="form-group pb-2">
        <label for="MedicalProcedureID">Medical Procedures:</label>
        <select name="MedicalProcedureID" id="MedicalProcedureID">
            <!-- The MedicalProcedures is from the DetailsBooking VM -->
            @foreach (var medicalProcedure in Model.MedicalProcedures)
            {
                <option value="@medicalProcedure.MedicalProcedureID">@medicalProcedure.MedicalProcedureName</option>
            }
        </select>
    </div>

    <div class="form-group pb-2">
        <label for="DoctorID">Doctors:</label>
        <select name="DoctorID" id="DoctorID">
            @foreach (var doctor in Model.Doctors)
            {
                <option value="@doctor.DoctorID">@doctor.DoctorFirstName @doctor.DoctorLastName</option>
            }
        </select>
    </div>

    <div>
        <label>Grand Total:</label>
        <input type="number" name="GrandTotal" />
    </div>

    <div>
        <input type="submit" value="Create Booking" />

    </div>
</form>