﻿﻿@model IEnumerable<MedLinked.Models.MedicalProcedureDto>
@{
    ViewBag.Title = "List";
}
<div class="title">
    <h2>MedicalProcedures List</h2>
    <a class="btn btn-primary" href="/MedicalProcedure/New">+ New MedicalProcedure</a>

</div>

<table class="table table-primary">
    <thead>
        <tr>
            <th scope="col">MedicalProcedure ID</th>
            <th scope="col">MedicalProcedureName</th>
            <th scope="col">MedicalCenter</th>
            <th scope="col">MedicalProcedureDate</th>
            <th scope="col">MedicalProcedureCost</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>





        @foreach (var MedicalProcedure in Model)
        {

            <tr>
                <th scope="row">@MedicalProcedure.MedicalProcedureID</th>
                <td>@MedicalProcedure.MedicalProcedureName</td>
                <td>@MedicalProcedure.MedicalCenter</td>
                <td>@MedicalProcedure.MedicalProcedureDate</td>
                <td>@MedicalProcedure.MedicalProcedureCost</td>
                <td><a class="btn btn-primary" href="/MedicalProcedure/Details/@MedicalProcedure.MedicalProcedureID">details ></a></td>
            </tr>

        }

    </tbody>
</table>